<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.wen.oneself.module.system.mapper.SysLoginInfoMapper">

    <resultMap type="com.cq.wen.oneself.module.system.entity.SysLoginInfo" id="SysLoginInfoMap">
        <result property="infoId" column="info_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="ipaddr" column="ipaddr" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="msg" column="msg" jdbcType="VARCHAR"/>
        <result property="accessTime" column="access_time" jdbcType="TIMESTAMP"/>
    </resultMap>

 <sql id="Base_Column_List">
    info_id, user_name, ipaddr, status, msg, access_time    
 </sql>

</mapper>

